name: build

on:
    push:
        branches: ["*"]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup node 18.16.0
              uses: actions/setup-node@v4
              with:
                  node-version: 18.16.0

            - name: npm install
              run: npm ci

            - name: npm run format:check
              run: npm run format:check

            - name: npm run lint
              run: npm run lint

            - name: npm run build:dist
              run: npm run build:dist

            - name: npm test
              run: npm test

            - name: Upload results
              # Run this step even if the test step ahead fails
              if: "!cancelled()"
              uses: trunk-io/analytics-uploader@main
              with:
                  # Path to your test results.
                  junit-paths: report.xml
                  # Provide your Trunk organization slug.
                  org-slug: bscott
                  # Provide your Trunk API token as a GitHub secret.
                  token: ${{ secrets.TRUNK_API_TOKEN }}
              continue-on-error: true
